   <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Все карточки</a></li>
          <li><a href="#">Добавить карточки</a></li>
        </ul>
        <h3 class="text-muted">Флешкарточкер</h3>
      </div>

  <section id="container">
    <section>
      <p style="font-size: 22px;">
        "Первый в мире удобный менеджер флеш-карточек. Именно так."
      </p>
    </section>
  </section>
