<h1>test</h1>

    <%= form_for @card do |f| %>
    <%  hidden_field_tag(:card_id)  %>
    <%= text_field_tag(:card_original_text) %>
    <%= f.text_field :translated_text %>
    <%= f.submit "Проверить" %>
    <% end %>
